{
    "gpio": 4,
    "interval" : 5,
    "message" : {
        "0" : "closed",
        "1" : "open"
    },
    "mqtt": {
        "host": "mqtt://192.168.178.54:1883",
        "topic": "/home/garage-door/status"
    }
}
